%h1 Listing devices

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Ip address
      %th Device status
      %th Ipv6
      %th Snmp template
      %th
      %th
      %th

  %tbody
    - @devices.each do |device|
      %tr
        %td= link_to device.name, device_path(device)
        %td= link_to device.description, device_path(device)
        %td= link_to device.ip_address, device_path(device)
        %td= link_to device.device_status, device_path(device)
        - if device.ipv6? 
          %td= link_to "True", device_path(device)
        - else 
          %td= ""
        - if device.snmp_template.blank? 
          %td= link_to "None", device_path(device)
        - else 
          %td= ""
        %td= link_to 'Show', device
        %td= link_to 'Edit', edit_device_path(device)
        %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_device_path
