admin -> devices -> index.html.haml

%h1 Listing devices

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Ip address
      %th Device status
      %th Ipv6
      %th Snmp template
      %th Device Type
      %th 
      %th
      %th

  %tbody
    - @devices.each do |device|
      %tr
        %td= link_to device.name, admin_device_path(device)
        %td= link_to device.description, admin_device_path(device)
        %td= link_to device.ip_address, admin_device_path(device)
        %td= link_to device.device_status, admin_device_path(device)
        - if device.ipv6? 
          %td= link_to "True", device_path(device)
        - else 
          %td= ""
        - if device.snmp_template.blank? 
          %td= link_to "None", admin_device_path(device)
        - else 
          %td= ""
        %td= link_to device.devtype.name, admin_device_path(device)
        %td= "     "
        %td= link_to 'Edit', edit_admin_device_path(device)
        %td= link_to 'Destroy', admin_device_path(device), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_admin_device_path
