%h1 Listing mappings

%table
  %thead
    %tr
      %th Received text
      %th Reply text
      %th
      %th
      %th

  %tbody
    - @mappings.each do |mapping|
      %tr
        %td= mapping.received_text
        %td= mapping.reply_text
        %td= link_to 'Show', admin_mapping_path(mapping)
        %td= link_to 'Edit', edit_admin_mapping_path(mapping)
        %td= link_to 'Destroy', admin_mapping_path(mapping), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mapping', new_admin_mapping_path
