= simple_form_for(@device) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :ip_address
    = f.input :device_status
    = f.input :ipv6
    = f.input :snmp_template

  .form-actions
    = f.button :submit
